---
layout: default
---
<section class="intro">
  <p>Hi, I'm zdf. This is where I keep my tech notes, projects, and random thoughts.</p>
</section>

<section class="post-list">
  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <h2 class="year">{{ year.name }}</h2>
    <ul>
      {% for post in year.items %}
        <li>
          <span class="date">{{ post.date | date: "%m-%d" }}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>
