---
layout: page
title: Tags
permalink: /tags/
---

<div class="tag-cloud">
  {% for tag in site.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a>
  {% endfor %}
</div>

{% for tag in site.tags %}
  <div class="tag-group">
    <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
    <ul>
      {% for post in tag[1] %}
        <li>
          <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
